#1. 

A 학급에 총 10명의 학생이 있다. 이 학생들의 중간고사 점수는 다음과 같다.
  
     scor_list=[70,60,55,75,95,90,80,80,85,100]
for문을 사용하여 A학급의 평균 점수를 구해보자



---


---

In [50]:
#1
score_list=[70,60,55,75,95,90,80,80,85,100]
sum=0
for i in score_list:
  sum+=i

m=sum/10
print(m)

79.0

#2. 

    problem1={"홍길동":"881120-2068234", "정홍두":"987654-1234567", "신한결":"123456-1345678"}


위 딕셔너리의 key, value 쌍을 순회하며 이름과 성별을 나타내는 새로운 딕셔너리를 만들 것. 

(힌트: 주민등록번호 첫번째 뒷자리가 성별을 나타냄)


---



---

In [51]:
#2
problem1={"홍길동":"881120-2068234", "정홍두":"987654-1234567", "신한결":"123456-1345678"}
V=list(problem1.values())
K=list(problem1.keys())
for i in range(len(V)):
  if V[i][7]=='1' or V[i][7]=='3':
    V[i]="남"
  else:
    V[i]="여"

Result={K[i]:V[i] for i in range(len(problem1))}
print(Result)

{'홍길동': '여', '정홍두': '남', '신한결': '남'}

#3.

a 리스트에서 중복 숫자를 제거해 보자.

      a=[1,1,1,2,2,3,3,3,4,4,5]



---



---

In [52]:
#3

a=[1,1,1,2,2,3,3,3,4,4,5]

# sol1)
s=set(a)
print(list(s))

# sol2)
b=[]
for i in a:
  if(b.count(i)==0):
    b.append(i)

print(sorted(b))

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

#4.

리스트의 최댓값과 최솟값을 구하는 함수를 작성해보자

예시 리스트:

     [-8,2,7,5,-3,5,0,1]

예시 출력:

     >>> 해당 리스트의 최솟값은 -8, 최댓값은 7입니다.



---



---

In [1]:
L=[-8,2,7,5,-3,5,0,1]
M=max(L)
m=min(L)
def max():
  return M
def min():
  return m
print("해당 리스트의 최솟값은 %d, 최댓값은 %d입니다" %(min(), max()))

해당 리스트의 최솟값은 -8, 최댓값은 7입니다